name: QA

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - main

jobs:
  qa:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '22.10.0'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check spelling
        run: pnpm cspell .

      - name: Check formatting
        run: pnpm prettier -c .

      - name: Lint
        run: pnpm lint

      - name: Check types
        run: pnpm typecheck
